include ../mixins/_svgsprite.pug

doctype html
html(lang="en")
	block vars
	head
		block title
			title #{pageTitle} #{bodyClass} - My Static Site oioiOIOOI #{bodyClass}
		link(rel='stylesheet', href='assets/css/screen.css')
	body(class='#{pageTitle}')
		block content

		script(src='assets/js/script.js')
